.photo-container-full-third{
  width: 100%;
  display: inline-block;
  margin: 0px;
  margin-top: -12px;
  padding: 0px;
  background: black;
  position: relative;
  font-family: Rajdhani;
  overflow: hidden;
  border: solid 6px white;
}
.photo-container-full-third img{
  width: 100%;
  margin: 0px;
  padding: 0px;
  transition: all .5s ease-in-out;
}

.photo-container-full-third:hover img{
  opacity: 0.7;
  transform: scale(1.2);
}

.photo-container-full-third .caption{
  font-size: 18px;
  letter-spacing: 1px;
  color:white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  font-weight: 300;
}

.photo-container-full-third:hover .caption{
  transform: translate(-50%, -50%) scale(1);
  transition: all 300ms 100ms;
}
