.social-container{
  display: flex;
  width: 99%;
  max-width: 1600px;
  margin: auto;
}

.col-3{
  flex:1;
}

.social-container img{
  vertical-align:top;
  filter: none;
  filter: none;
  -webkit-filter: blur(0px);
  -moz-filter: blur(0px);
  -ms-filter: blur(0px);
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='0');
}
